<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img class="logo"src="./images/logo-mercado-liebre.svg" alt="logo" width="200">
            <div class="barrabq">
                <input type="text" placeholder="Buscar productos, marcas y más...">
                    <button><i class="fas fa-search"></i> </button>
                </div>
        <p>Compra en cuotas y sin tarjeta de crédito <i class="fas fa-hand-holding-usd"></i>
            </p>
        <nav>
            <ul class ="navi">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                </ul>
                
            <ul class="navi">
                <li><a href="">Creá tu cuenta</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Ingresá</a> <i class="far fa-id-card"></i></li>
                <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
            <img class="banner"src="./images/img-home-banner.jpg" alt="banner" width = "400">
        </nav>
    </header>
    <main>
        <section>
            <h2 class="titular">Basado en tu última visita</h2>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width ="200">
                <div class="caja">
                    <i class="fas fa-truck"></i>
                            <p class="precios">$6.770<p>
                                <span class="descuentos">40% OFF<span>
                                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width ="200">
                    <div class="caja">
                        <i class="fas fa-truck"></i>
                            <p class="precios"> $230.000<p>
                                <span class="descuentos">20% OFF<span>
                                    <h4 class="descripcion">MacBook Pro 2019</h4>
                        </div>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width ="200">
            <div class="caja">
                <i class="fas fa-truck"></i>
                    <p class="precios">$70.500<p>
                        <span class="descuentos">10% OFF<span>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                    </article>
        </section>
        <section>
            <h2 class="titular">Ofertas</h2>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width ="200">
            <div class="caja">
                    <p class="precios">$6.770<p>
                        <span class="descuentos">40% OFF<span>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width ="200">
                <div class="caja">
                <i class="fas fa-truck"></i>
                    <p class="precios">$230.000<p>
                        <span class="descuentos">20% OFF<span>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                        </div>
            </article>
        <article>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width ="200">
            <div class="caja">
                    <i class="fas fa-truck"></i>
                        <p class="precios">$70.500<p>
                            <span class="descuentos">10% OFF<span>
                                <h4 class="descripcion">Samsung Galaxy S10 </h4>
                        </div>
                    </article>
                <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="imagen del Samsung Galaxy" width ="200">
                <div class="caja">
                <i class="fas fa-truck"></i>
                    <p class="precios">$23.200<p>
                        <span class="descuentos">5% OFF<span>
                            <h4 class="descripcion">SmartTv Samsung 43"</h4>
                        </div>
        </article>
        </section>
    </main>
    <footer>
        <div class = "div2">
        <section>
            <div>
                <i class="fas fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                    <h4>Envio gratis desde $2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
    </div>
    </footer>
</body>
</html>